
.container {
    margin-top: 80px;
    height: 1000px;
}


.text-right {
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 20px;
}
.table {
    margin-bottom: 20px;
}
.col-md-4 {
    background-color: #f8f9fa;
    padding: 20px;
    border-left: 1px solid #ccc;
}
.modal-dialog {
    max-width: 800px;
}
header {
    position: fixed;
    background-color: #48e;
    width: 100%;
    height: 70px;
    z-index: 1;
    top: 0;
}
header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

nav h6 {
    margin-left: 70px;
    font-size: 22px;
    color: #ffffff;
    font-weight: 900;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 20px;
}
nav ul li{
    margin-left: 30px;
}

nav ul li a{
    color: #ddd;
   
}

#searchForm input{
    width: 90%;
    padding: 6px;
    border-radius: 7px;
}

  /* Altura fija para las filas de la tabla */
  #productoTableBody tr {
    height: 50px; /* Ajusta la altura según prefieras */
}

#productoTableBodt{
    height: 3000px;
}

/* Altura fija para las celdas */
#productoTableBody td {
    white-space: nowrap;  /* Evita que el texto se divida en varias líneas */
    text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es muy largo */
    overflow: hidden; /* Oculta el desbordamiento del texto */
}

/* Ajustar el contenedor de la tabla */
.table-responsive {
    max-height: 400px; /* Limitar la altura de la tabla */
    overflow-y: auto;  /* Agregar un scroll vertical si la tabla es muy larga */
}

fieldset {
    border: 2px solid black;
    padding: 10px;
    max-width: 100%; /* Ajusta el ancho del fieldset */
    margin: 0 auto; /* Centra el fieldset */
}

legend {
    padding: 5px;
    width: auto; /* Elimina el comportamiento de ocupar todo el ancho */
    padding-left: 5px; /* Opcional: Agrega espacio a la izquierda */
    padding-right: 5px; /* Opcional: Agrega espacio a la derecha */
    text-align: left; /* Opcional: centra el texto dentro del legend */
}