
.container {
    margin-top: 80px;
    height: 1000px;
}


.text-right {
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 20px;
}
.table {
    margin-bottom: 20px;
}
.col-md-4 {
    padding: 20px;
}
.modal-dialog {
    max-width: 800px;
}
header {
    position: fixed;
    background-color: #343a40;
    width: 100%;
    height: 70px;
    z-index: 1;
    top: 0;
}
header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

nav h6 {
    margin-left: 70px;
    font-size: 22px;
    color: #ffffff;
    font-weight: 900;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 20px;
}
nav ul li{
    margin-left: 30px;
}

nav ul li a{
    color: #ddd;
    user-select: none;
    font-size: 18px;
}

nav ul li a:hover{
    text-decoration: none;
    color: #aaa;
}

header nav ul li a.selected {
    background-color: #4488ee; 
    color: white;
    outline: 4px solid #4488ee; /* Outline de 4px del mismo color */
}

#searchForm input{
    width: 90%;
    padding: 6px;
    border-radius: 7px;
}

  /* Altura fija para las filas de la tabla */
  #productoTableBody tr {
    height: 50px; /* Ajusta la altura según prefieras */
}

#productoTableBodt{
    height: 3000px;
}

/* Altura fija para las celdas */
#productoTableBody td {
    white-space: nowrap;  /* Evita que el texto se divida en varias líneas */
    text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es muy largo */
    overflow: hidden; /* Oculta el desbordamiento del texto */
}

/* Ajustar el contenedor de la tabla */
.table-responsive {
    max-height: 400px; /* Limitar la altura de la tabla */
    overflow-y: auto;  /* Agregar un scroll vertical si la tabla es muy larga */
}

fieldset {
    border: 2px solid black;
    padding: 10px;
    max-width: 100%; /* Ajusta el ancho del fieldset */
    margin: 0 auto; /* Centra el fieldset */
}

legend {
    padding: 5px;
    width: auto; /* Elimina el comportamiento de ocupar todo el ancho */
    padding-left: 5px; /* Opcional: Agrega espacio a la izquierda */
    padding-right: 5px; /* Opcional: Agrega espacio a la derecha */
    text-align: left; /* Opcional: centra el texto dentro del legend */
}

.hide {
    display: none;
}


.modal-content {
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

#productoModal .modal-header, #pedidoModal .modal-header, #clientesTopModal .modal-header {
    background-color: #007bff; /* Color del encabezado */
    color: white;
    border-bottom: none;
}

#categoriaModal .modal-header, #activoModal .modal-header, #clienteModal .modal-header {
    background-color: #252627; /* Color del encabezado */
    color: white;
    border-bottom: none;
}

.headerOscuro {
    background-color: #252627; /* Color del encabezado */
    color: white;
    border-bottom: none;
}

#categoriaModal button, #clienteModal button, #activoModal button {
    background-color: #252627; /* Color del encabezado */
    color: white;
    
}

#totalModal .modal-header, #detalleFacturaModal .modal-header {
    background-color: #17a2b8; /* Color del encabezado */
    color: white;
    border-bottom: none;
}
.modal-title {
    font-weight: bold;
}

.list-group {
    margin-top: 20px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid #007bff; /* Borde de las categorías */
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.list-group-item:hover {
    background-color: #e9f7ff; /* Color de fondo al pasar el mouse */
}

#totalGlobal {
    color: #dc3545; /* Color rojo para el total global */
}

@media (max-width: 576px) {
    .modal-dialog {
        width: 90%; /* Ancho en dispositivos pequeños */
    }
}

#totalCategorias li {
    margin-left: 20px; /* Ajusta el valor según sea necesario */
}


/* Alternar el color de fondo de las filas de la tabla */
#productoTableBody tr:nth-child(odd) {
    background-color: #f7f7f7; /* Color de fondo para filas impares */
}

#productoTableBody tr:nth-child(even) {
    background-color: #ffffff; /* Color de fondo para filas pares */
}

#pedidoTableBody tr:nth-child(odd) {
    background-color: #f7f7f7; /* Color de fondo para filas impares */
}

#pedidoTableBody tr:nth-child(even) {
    background-color: #ffffff; /* Color de fondo para filas pares */
}


#clienteForm input{
    font-weight: 400;
}

#facturaForm input{
    font-weight: 400;
}

.loading {
    text-align: center;
    font-size: 18px;
    color: #555;
  }

  #facturasContainer , #clientesContainer {
    max-height: 80dvh;
    /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
    /* Habilita el desplazamiento vertical */
    overflow-x: hidden;
    /* Oculta el desplazamiento horizontal, si no es necesario */
  }

  /* Clase para el elemento seleccionado */
.selected {
    background-color: #4488ee;
    color: white; /* Opcional: cambia el color del texto para resaltar */
    font-weight: bold; /* Opcional: añade un estilo de negrita para resaltar */
    border-radius: 4px; /* Opcional: añade bordes redondeados */
}


.hover-effect:hover {
    color: black; /* Cambia a negro cuando el usuario coloca el cursor encima */
    background-color: lightgray; /* Ejemplo de fondo */
}

.form-control {
    color: #000; /* Negro fuerte */
    background-color: #fff; /* Fondo blanco */
}

/* Estilo para el placeholder */
.form-control::placeholder {
    color: #aaa; /* Gris suave */
    opacity: 1; /* Asegura que el color se muestre */
}

/* Opcional: Estilo para el textarea */
#descripcionFactura {
    color: #000; /* Negro fuerte */
    background-color: #fff; /* Fondo blanco */
}

/* Estilo para el border de los inputs en foco */
.form-control:focus {
    border-color: #1116; /* Cambia el color del borde al foco */
    box-shadow: 0 0 5px rgba(17, 22, 22, 0.5); /* Efecto de sombra en foco */
}
