.container {
    margin-top: 60px;
}

h1 {
    font-size: 2em;
}

.modal-dialog {
    max-width: 800px;
}

#detalleFacturaModal .modal-dialog {
    max-width: 1100px;
    width: 90vw;
    min-width: 300px;
}

@media (max-width: 1200px) {
  #detalleFacturaModal .modal-dialog {
    max-width: 98vw;
    width: 98vw;
  }
}

@media (max-width: 768px) {
  #detalleFacturaModal .modal-dialog {
    max-width: 100vw;
    width: 100vw;
    margin: 0;
  }
}

header {
    position: fixed;
    background-color: #343a40;
    width: 100%;
    height: 55px;
    z-index: 1;
    top: 0;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

header nav h6 {
    margin-left: 70px;
    font-size: 1.7em;
    color: #ffffff;
    font-weight: 900;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li a {
    margin-left: 20px;
    color: #ddd;
    user-select: none;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

nav ul li a:hover {
    text-decoration: none;
    color: #aaa;
}

header nav ul li a.selected {
    background-color: #4488ee;
    color: white;
    border-radius: 20px;
}

#searchForm input {
    width: 90%;
    padding: 6px;
    border-radius: 7px;
}

#productoTableBody td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table-responsive {
    max-height: 400px;
    overflow-y: auto;
}

fieldset {
    border: 2px solid black;
    padding: 10px;
    max-width: 100%;
    margin: 0 auto;
}

legend {
    padding: 5px;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}

.hide {
    display: none;
}

.modal-content {
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

#clientesTopModal {
    height: 90dvh;
    margin: 0 auto;
}

#productoModal .modal-header,
#pedidoModal .modal-header,
#clientesTopModal .modal-header {
    background-color: #007bff;
    color: white;
    border-bottom: none;
}

#categoriaModal .modal-header,
#activoModal .modal-header,
#clienteModal .modal-header {
    background-color: #252627;
    color: white;
    border-bottom: none;
}

.headerOscuro {
    background-color: #252627;
    color: white;
    border-bottom: none;
}

#categoriaModal button,
#clienteModal button,
#activoModal button {
    background-color: #252627;
    color: white;
}

#totalModal .modal-header,
#detalleFacturaModal .modal-header,
#verInfoModal .modal-header {
    background-color: #17a2b8;
    color: white;
    border-bottom: none;
}


.modal-title {
    font-weight: bold;
}

.list-group {
    margin-top: 20px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid #007bff;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.list-group-item:hover {
    background-color: #e9f7ff;
}

#totalGlobal {
    color: #dc3545;
}

#totalCategorias li {
    margin-left: 20px;
}

#productoTableBody tr:nth-child(odd) {
    background-color: #f7f7f7;
}

#productoTableBody tr:nth-child(even) {
    background-color: #ffffff;
}

#pedidoTableBody tr:nth-child(odd) {
    background-color: #f7f7f7;
}

#pedidoTableBody tr:nth-child(even) {
    background-color: #ffffff;
}

#clienteForm input {
    font-weight: 400;
}

#facturaForm input {
    font-weight: 400;
}

.loading {
    text-align: center;
    font-size: 18px;
    color: #555;
}

#facturasContainer,
#clientesContainer {
    max-height: 80dvh;
    overflow-y: auto;
    overflow-x: hidden;
}

.selected {
    background-color: #4488ee;
    color: white;
    font-weight: bold;
    border-radius: 4px;
}

.hover-effect:hover {
    color: black;
    background-color: lightgray;
}

.form-control {
    color: #000;
    background-color: #fff;
}

.form-control::placeholder {
    color: #aaa;
    opacity: 1;
}

#descripcionFactura {
    color: #000;
    background-color: #fff;
}

.form-control:focus {
    border-color: #1116;
    box-shadow: 0 0 5px rgba(17, 22, 22, 0.5);
}

.disabled-style {
    opacity: 0.4;
    cursor: not-allowed;
    color: #e7e7e7;
    background-color: #e0e0e0;
    border-color: #d0d0d0;
}

#mensajeError {
    margin-top: 10px;
    margin-bottom: 0px;
}

#botonesDeImpresion {
    margin: 0;
    padding-bottom: 50px;
}

#productosTabla tbody tr:nth-child(odd) td {
    background-color: #f0f8ff;
}

#productosTabla tbody tr:nth-child(even) td {
    background-color: #f2ffed;
}

#productosTabla tbody td {
    padding: 7px;
}

#contenedorPrincipalFacturacion {
    width: 65%;
}

#contenedorInventario {
    width: 50%;
    margin-top: 60px;
    min-width: 1300px;
}

#productoTableBody td {
    padding: 6px;
}

#pagination li a {
    margin: 0 5px 0 5px;
}

.invert-img {
    filter: invert(1) brightness(2);
}

#mensajeError {
    font-size: 1.2em;
    color: white;
    background-color: red;
    border-radius: 10px;
    font-weight: 600;
}

@media (max-width: 1920px) {
    #productoTableBody td {
        padding: 1px;
    }

    #pedidoTableBody td {
        padding: 6px;
    }

    #searchForm input {
        padding: 4px;
    }

    #agregarProducto,
    #agregarCategoria,
    #verTotal,
    #toggleProductosBtn {
        padding: 4px;
        margin: 0;
    }

    #filtradorDeCategoria {
        margin: 0;
    }

    #productosTabla tbody td {
        padding: 7px;
    }

    #contenedorPrincipalFacturacion {
        width: 85%;
    }

    #contenedorPrincipalFacturacion fieldset {
        padding: 2px;
    }

    #contenedorPrincipalFacturacion #clienteForm {
        padding: 0;
        margin: 0;
    }

    #ventasfactura td {
        padding: 2px;
    }

    #clienteTableBody td {
        padding: 3px;
    }

    #clientesTopTableBody td {
        padding: 5px;
    }

    #productosPorPagina {
        padding: 0;
        margin: 0;
    }

    #productosPorPagina label {
        padding: 0;
        margin: 0;
    }

    #pagination {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}